<% provide(:title, 'Вход') %>

<div style="width: 30%; margin: 70px auto;">
  <%= form_for(:session, url: signin_path) do |f| %>
    <%= f.text_field :name, placeholder: "Пользователь" %>
    <%= f.password_field :password, placeholder: "Пароль" %>
    <%= f.submit "Войти", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
